<template>
    <div class='add-memory_palace'>
        <b-modal
            id='addMemoryPalaceModal'
            ref='addMemoryPalaceModal'
            hide-footer
            centered
            title='Add a new memory palace'
        >
            <b-form>
                <b-form-group id='nameInputGroup' label='Name:' label-for='nameInput'>
                    <b-form-input
                        id='nameInput'
                        v-model='memoryPalace.name'
                        type='text'
                        required
                        placeholder='Enter name'
                    ></b-form-input>
                </b-form-group>

                <b-list-group>
                    <b-list-group-item
                        v-for='(room, index) in memoryPalace.rooms'
                        v-bind:key='index'
                    >
                        <b-form-input type='text' v-model='memoryPalace.rooms[index]'></b-form-input>
                    </b-list-group-item>
                </b-list-group>

                <b-container class='buttons'>
                    <b-row align-h='start'>
                        <b-col cols='1'>
                            <b-button type='button' variant='primary' @click='onAddRoom'>+</b-button>
                        </b-col>
                        <b-col cols='2' offset='7'>
                            <b-button type='reset' variant='secondary' @click='onReset'>Reset</b-button>
                        </b-col>
                        <b-col cols='2'>
                            <b-button type='submit' variant='primary' @click='onSubmit'>Add</b-button>
                        </b-col>
                    </b-row>
                </b-container>
            </b-form>
        </b-modal>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'AddMemoryPalace',
    data() {
        return {
            memoryPalace: {
                name: '',
                rooms: []
            }
        }
    },
    methods: {
        ...mapActions(['addMemoryPalace']),
        onSubmit(evt) {
            evt.preventDefault()
            this.addMemoryPalace(this.memoryPalace)
            this.resetValues()
            this.$refs.addMemoryPalaceModal.hide()
        },
        onReset(evt) {
            evt.preventDefault()
            this.resetValues()
        },
        resetValues() {
            this.memoryPalace.name = ''
            this.memoryPalace.rooms = []
        },
        onAddRoom(evt) {
            this.memoryPalace.rooms.push('')
        }
    }
}
</script>
