<template>
    <div class='memory-palace'>
        <b-modal
            id='memoryPalaceModal'
            ref='memoryPalaceModal'
            hide-footer
            centered
            title='Memory Palace'
        >
            <b-form @submit='onSubmit'>
                <b-form-group id='nameInputGroup' label='Name:' label-for='nameInput'>
                    <b-form-input
                        id='nameInput'
                        type='text'
                        v-model='selectedMemoryPalace.name'
                        required
                        placeholder='Enter name'
                    ></b-form-input>
                </b-form-group>

                <b-form-group id='roomInputGroup' label='Rooms:' label-for='roomInput'>
                    <b-list-group>
                        <b-list-group-item
                            v-for='(room, index) in selectedMemoryPalace.rooms'
                            v-bind:key='index'
                        >
                            <b-form-input
                                id='roomInput'
                                type='text'
                                v-model='selectedMemoryPalace.rooms[index].name'
                            ></b-form-input>
                        </b-list-group-item>
                    </b-list-group>
                </b-form-group>

                <b-button type='submit' variant='secondary'>Update</b-button>
                <b-button type='button' variant='secondary' @click='onDeletePalace'>Delete</b-button>
            </b-form>
        </b-modal>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    name: 'MemoryPalace',
    computed: {
        ...mapState(['selectedMemoryPalace'])
    },
    methods: {
        ...mapActions(['updateMemoryPalace', 'deleteMemoryPalace']),
        onSubmit(evt) {
            evt.preventDefault()
            this.updateMemoryPalace(this.selectedMemoryPalace)
        },
        onDeletePalace(evt) {
            this.deleteMemoryPalace(this.selectedMemoryPalace.id)
        }
    }
}
</script>
