<template>
    <div class='word'>
        <b-modal id='wordModal' ref='wordModal' hide-footer centered title='Word'>
            <b-form @submit='onSubmit'>
                <b-form-group id='nameInputGroup' label='Name:' label-for='nameInput'>
                    <b-form-input
                        id='nameInput'
                        type='text'
                        v-model='selectedWord.name'
                        required
                        placeholder='Enter name'
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id='translationInputGroup'
                    label='Translation:'
                    label-for='translationInput'
                >
                    <b-form-input
                        id='translationInput'
                        type='text'
                        v-model='selectedWord.translation'
                        required
                        placeholder='Enter translation'
                    ></b-form-input>
                </b-form-group>
                <b-form-group id='grammarInputGroup' label='Grammar:' label-for='grammarInput'>
                    <b-form-input
                        id='grammarInput'
                        type='text'
                        v-model='selectedWord.grammar'
                        placeholder='Enter grammar'
                    ></b-form-input>
                </b-form-group>
                <b-form-group id='storyInputGroup' label='Story:' label-for='storyInput'>
                    <b-form-textarea
                        id='storyInput'
                        v-model='selectedWord.story'
                        placeholder='Enter story'
                        :rows='5'
                    ></b-form-textarea>
                </b-form-group>
                <b-btn type='submit' variant='secondary'>Update</b-btn>
                <b-btn type='button' variant='secondary' @click='onDeleteWord'>Delete</b-btn>
            </b-form>
        </b-modal>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    name: 'Word',
    computed: {
        ...mapState(['selectedWord'])
    },
    methods: {
        ...mapActions(['updateWord', 'deleteWord']),
        onSubmit(evt) {
            evt.preventDefault()
            this.updateWord(this.selectedWord)
        },
        onDeleteWord(evt) {
            this.deleteWord(this.selectedWord.id)
            this.$refs.wordModal.hide()
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
